<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <form action="" method="post"></form>
                <button class="btn" type="submit">Delete Product</button>
            </main>
            <%- include('../includes/end.ejs') %>